# 🔧 Node.js dependencies
node_modules/
dist-ssr/



# 📦 Env and local settings
.env
*.local

# 📋 Logifailid
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 🧠 IDE ja tööriistade failid
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🧪 Test coverage (kui kasutad testimist)
coverage/

# 📄 Buildi ja deploy skriptide ajutised failid
*.bak
*.tmp
